---

_You are currently looking at **version 1.0** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

# The Series Data Structure

In [1]:
import pandas as pd
pd.Series?

In [9]:
animals = ['Tiger', 'Bear', 'Moose']
temp = pd.Series(animals)
#here we are only giving values in form of list and key are generated automatically as index 
temp.values
temp.keys
temp.index
temp.head()
t = list(temp)
print t
t = [0 for x in range(3)]
print t
temp = pd.Series(t)
display(temp.head())

['Tiger', 'Bear', 'Moose']
[0, 0, 0]

0    0
1    0
2    0
dtype: int64

In [10]:
numbers = [1, 2, 3]
pd.Series(numbers)

0    1
1    2
2    3
dtype: int64

In [15]:
animals = ['Tiger', 'Bear', None]
pd.Series(animals)
# None in object is None but None in primitive type(int,float,etc) are NaN

0    Tiger
1     Bear
2     None
dtype: object

In [17]:
numbers = [1, 2, 1]
numbers = pd.Series(numbers)
for i,x in enumerate(numbers):
    if x == 1:
        numbers[i] = 0
    else:
        numbers[i] = -1

print numbers
print type(numbers)

0    0
1   -1
2    0
dtype: int64
<class 'pandas.core.series.Series'>

In [18]:
import numpy as np
np.NaN == None

False

In [18]:
np.nan == np.nan

False

In [19]:
np.isnan(np.nan)

True

In [20]:
sports = {'Archery': 'Bhutan',
          'Golf': 'Scotland',
          'Sumo': 'Japan',
          'Taekwondo': 'South Korea'}
s = pd.Series(sports)
s
#here we are passing a dict into series , so it has both key and value, unlike list passing
s.keys
s.values
s.head()

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

In [4]:
s.index
#index is alternative to keys which give the output keys in list format

Index([u'Archery', u'Golf', u'Sumo', u'Taekwondo'], dtype='object')

In [5]:
s = pd.Series(['Tiger', 'Bear', 'Moose'], index=['India', 'America', 'Canada'])
s

India      Tiger
America     Bear
Canada     Moose
dtype: object

In [6]:
sports = {'Archery': 'Bhutan',
          'Golf': 'Scotland',
          'Sumo': 'Japan',
          'Taekwondo': 'South Korea'}
s = pd.Series(sports, index=['Golf', 'Sumo', 'Hockey'])
s
#here we are modifying the actual value by put new index and only keeping those value which belongs to new index too

Golf      Scotland
Sumo         Japan
Hockey         NaN
dtype: object

# Querying a Series

In [7]:
sports = {'Archery': 'Bhutan',
          'Golf': 'Scotland',
          'Sumo': 'Japan',
          'Taekwondo': 'South Korea'}
s = pd.Series(sports)
s

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

In [8]:
s.iloc[3]
#to access through index not key

'South Korea'

In [9]:
s.loc['Golf']
#to access through key name

'Scotland'

In [10]:
s[3]

'South Korea'

In [11]:
s['Golf']
#multiple ways to access value , but iloc and loc must be used instead, as it cause problem when the index/key is 
#actually numerical and then trying to index by as s[3] where 3 is not key but actually a index causes error, because
#it tooks it as key not index

'Scotland'

In [12]:
sports = {99: 'Bhutan',
          100: 'Scotland',
          101: 'Japan',
          102: 'South Korea'}
s = pd.Series(sports)
s

99          Bhutan
100       Scotland
101          Japan
102    South Korea
dtype: object

In [55]:
s[0] #This won't call s.iloc[0] as one might expect, it generates an error instead

KeyError: 0

In [13]:
s = pd.Series([100.00, 120.00, 101.00, 3.00])
s

0    100.0
1    120.0
2    101.0
3      3.0
dtype: float64

In [14]:
total = 0
for item in s:
    total+=item
print(total)

324.0

In [21]:
import numpy as np

total = np.sum(s)
print(total)

BhutanScotlandJapanSouth Korea

In [23]:
#this creates a big series of random numbers
s = pd.Series(np.random.randint(0,1000,10000))
s.head()

0    744
1    756
2    457
3    294
4    808
dtype: int64

In [17]:
len(s)

10000

In [11]:
%%timeit -n 100
summary = 0
for item in s:
    summary+=item

100 loops, best of 3: 1.76 ms per loop

In [12]:
%%timeit -n 100
summary = np.sum(s)
#this method for summation is faster than iterative

100 loops, best of 3: 294 µs per loop

In [14]:
s+=2 #adds two to each item in s using broadcasting
s.head()
#by default the operation are performed on evry element without need of iteration

0    912
1    360
2    435
3    659
4    347
dtype: int64

In [25]:
%%timeit -n 10
for label, value in s.iteritems():
    s.set_value(label, value+2)
s.head()
#alternative to above operation

/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:258: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

10 loops, best of 3: 108 ms per loop

In [26]:
%%timeit -n 10
s = pd.Series(np.random.randint(0,1000,10000))
for label, value in s.iteritems():
    s.loc[label]= value+2

10 loops, best of 3: 5.54 s per loop

In [27]:
%%timeit -n 10
s = pd.Series(np.random.randint(0,1000,10000))
s+=2

The slowest run took 174.31 times longer than the fastest. This could mean that an intermediate result is being cached.
10 loops, best of 3: 506 µs per loop

In [28]:
s = pd.Series([1, 2, 3])
s.loc['Animal'] = 'Bears'
s

0             1
1             2
2             3
Animal    Bears
dtype: object

In [30]:
original_sports = pd.Series({'Archery': 'Bhutan',
                             'Golf': 'Scotland',
                             'Sumo': 'Japan',
                             'Taekwondo': 'South Korea'})
cricket_loving_countries = pd.Series(['Australia',
                                      'Barbados',
                                      'Pakistan',
                                      'England'])
all_countries = original_sports.append(cricket_loving_countries)

In [19]:
original_sports

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

In [20]:
cricket_loving_countries

Cricket    Australia
Cricket     Barbados
Cricket     Pakistan
Cricket      England
dtype: object

In [31]:
all_countries

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
0              Australia
1               Barbados
2               Pakistan
3                England
dtype: object

In [32]:
all_countries.loc['Cricket']

KeyError: u'the label [Cricket] is not in the [index]'

# The DataFrame Data Structure

In [39]:
import pandas as pd
purchase_1 = pd.Series({'Name': 'Chris',
                        'Item Purchased': 'Dog Food',
                        'Cost': 22.50})
purchase_2 = pd.Series({'Name': 'Kevyn',
                        'Item Purchased': 'Kitty Litter',
                        'Cost': 2.50})
purchase_3 = pd.Series({'Name': 'Vinod',
                        'Item Purchased': 'Bird Seed',
                        'Cost': 5.00})
df = pd.DataFrame([purchase_1, purchase_2, purchase_3], index=['Store 1', 'Store 1', 'Store 2'])
df.head()

         Cost Item Purchased   Name
Store 1  22.5       Dog Food  Chris
Store 1   2.5   Kitty Litter  Kevyn
Store 2   5.0      Bird Seed  Vinod

In [41]:
df.loc['Store 2']

Cost                      5
Item Purchased    Bird Seed
Name                  Vinod
Name: Store 2, dtype: object

In [45]:
type(df.loc['Store 2'])
type(df)

pandas.core.frame.DataFrame

In [42]:
df.loc['Store 1']

         Cost Item Purchased   Name
Store 1  22.5       Dog Food  Chris
Store 1   2.5   Kitty Litter  Kevyn

In [48]:
df.loc['Store 1', 'Name']
#similiar to the way numpy multidimensional array element is accessed

Store 1    Chris
Store 1    Kevyn
Name: Name, dtype: object

In [49]:
df.T
#of numpy

                 Store 1       Store 1    Store 2
Cost                22.5           2.5          5
Item Purchased  Dog Food  Kitty Litter  Bird Seed
Name               Chris         Kevyn      Vinod

In [46]:
df.T.loc['Cost']

Store 1    24.5
Store 1     4.5
Store 2       7
Name: Cost, dtype: object

In [30]:
df['Cost']

Store 1    22.5
Store 1     2.5
Store 2     5.0
Name: Cost, dtype: float64

In [31]:
df.loc['Store 1']['Cost']

Store 1    22.5
Store 1     2.5
Name: Cost, dtype: float64

In [50]:
df.loc[:,['Name', 'Cost']]

          Name  Cost
Store 1  Chris  22.5
Store 1  Kevyn   2.5
Store 2  Vinod   5.0

In [49]:
df.drop('Store 1')
#delete the passed value 
#here store1, etc are working as a row name while others are working as colomn name/lement of respective row name 
#df == uppermost dictionary == table name 
# store1 == inside dictionary == row of table
# other varibale are , key to value things lie inside store1 dictionary == colomn value

         Cost Item Purchased   Name Location
Store 2   7.0      Bird Seed  Vinod     None

In [51]:
df
#df.drop dont effect df but actually return a modified value

         Cost Item Purchased   Name Location
Store 1  24.5       Dog Food  Chris     None
Store 1   4.5   Kitty Litter  Kevyn     None
Store 2   7.0      Bird Seed  Vinod     None

In [53]:
copy_df = df.copy()
copy_df = copy_df.drop('Store 1')
copy_df

         Cost Item Purchased   Name
Store 2   5.0      Bird Seed  Vinod

In [54]:
copy_df.drop?

In [55]:
del copy_df['Name']
copy_df

         Cost Item Purchased
Store 2   5.0      Bird Seed

In [60]:
df['Name'] = None
df
df['meow'] = None
df
# adding new colomn to dataframe of modifying all the values of a colomn is similiar assignment way

         Cost Item Purchased  Name Location  meow
Store 1  22.5       Dog Food  None     None  None
Store 1   2.5   Kitty Litter  None     None  None
Store 2   5.0      Bird Seed  None     None  None

# Dataframe Indexing and Loading

In [61]:
costs = df['Cost']
costs

Store 1    22.5
Store 1     2.5
Store 2     5.0
Name: Cost, dtype: float64

In [62]:
costs+=2
costs

Store 1    24.5
Store 1     4.5
Store 2     7.0
Name: Cost, dtype: float64

In [63]:
df

         Cost Item Purchased  Name Location  meow
Store 1  24.5       Dog Food  None     None  None
Store 1   4.5   Kitty Litter  None     None  None
Store 2   7.0      Bird Seed  None     None  None

In [64]:
!cat olympics.csv

cat: olympics.csv: No such file or directory

In [57]:
df = pd.read_csv('olympics.csv')
df.head()

IOError: File olympics.csv does not exist

In [ ]:
df = pd.read_csv('olympics.csv', index_col = 0, skiprows=1)
df.head()

In [66]:
df.columns

Index([u'Cost', u'Item Purchased', u'Name', u'Location', u'meow'], dtype='object')

In [65]:
for col in df.columns:
    if col[:2]=='01':
        df.rename(columns={col:'Gold' + col[4:]}, inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Silver' + col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze' + col[4:]}, inplace=True)
    if col[:1]=='№':
        df.rename(columns={col:'#' + col[1:]}, inplace=True) 

df.head()

         Cost Item Purchased  Name Location  meow
Store 1  24.5       Dog Food  None     None  None
Store 1   4.5   Kitty Litter  None     None  None
Store 2   7.0      Bird Seed  None     None  None

# Querying a DataFrame

In [67]:
df['Cost'] > 0

Store 1    True
Store 1    True
Store 2    True
Name: Cost, dtype: bool

In [68]:
only_gold = df.where(df['Cost'] > 0)
only_gold.head()

         Cost Item Purchased  Name Location  meow
Store 1  24.5       Dog Food  None     None  None
Store 1   4.5   Kitty Litter  None     None  None
Store 2   7.0      Bird Seed  None     None  None

In [69]:
only_gold['Cost'].count()

3

In [70]:
df['Cost'].count()

3

In [74]:
only_gold = only_gold.dropna()
only_gold.head()

Empty DataFrame
Columns: [Cost, Item Purchased, Name, Location, meow]
Index: []

In [73]:
only_gold = df[df['Cost'] > 0]
only_gold.head()

         Cost Item Purchased  Name Location  meow
Store 1  24.5       Dog Food  None     None  None
Store 1   4.5   Kitty Litter  None     None  None
Store 2   7.0      Bird Seed  None     None  None

In [75]:
len(df[(df['Cost'] > 0) | (df['Cost.1'] > 0)])

KeyError: 'Cost.1'

In [ ]:
df[(df['Gold.1'] > 0) & (df['Gold'] == 0)]

# Indexing Dataframes

In [76]:
df.head()

         Cost Item Purchased  Name Location  meow
Store 1  24.5       Dog Food  None     None  None
Store 1   4.5   Kitty Litter  None     None  None
Store 2   7.0      Bird Seed  None     None  None

In [77]:
df['country'] = df.index
df = df.set_index('Gold')
df.head()

KeyError: 'Gold'

In [78]:
df = df.reset_index()
df.head()

     index  Cost Item Purchased  Name Location  meow  country
0  Store 1  24.5       Dog Food  None     None  None  Store 1
1  Store 1   4.5   Kitty Litter  None     None  None  Store 1
2  Store 2   7.0      Bird Seed  None     None  None  Store 2

In [79]:
df = pd.read_csv('census.csv')
df.head()

,age,workclass,education_level,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,Bachelors,13.0,Never-married,Adm-clerical,Not-in-family,White,Male,2174.0,0.0,40.0,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0.0,13.0,United-States,<=50K
2,38,Private,HS-grad,9.0,Divorced,Handlers-cleaners,Not-in-family,White,Male,0.0,0.0,40.0,United-States,<=50K
3,53,Private,11th,7.0,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0.0,0.0,40.0,United-States,<=50K
4,28,Private,Bachelors,13.0,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0.0,0.0,40.0,Cuba,<=50K

In [80]:
df['Income'].unique()

KeyError: 'SUMLEV'

In [ ]:
df=df[df['SUMLEV'] == 50]
df.head()

In [ ]:
columns_to_keep = ['STNAME',
                   'CTYNAME',
                   'BIRTHS2010',
                   'BIRTHS2011',
                   'BIRTHS2012',
                   'BIRTHS2013',
                   'BIRTHS2014',
                   'BIRTHS2015',
                   'POPESTIMATE2010',
                   'POPESTIMATE2011',
                   'POPESTIMATE2012',
                   'POPESTIMATE2013',
                   'POPESTIMATE2014',
                   'POPESTIMATE2015']
df = df[columns_to_keep]
df.head()

In [ ]:
df = df.set_index(['STNAME', 'CTYNAME'])
df.head()

In [ ]:
df.loc['Michigan', 'Washtenaw County']

In [ ]:
df.loc[ [('Michigan', 'Washtenaw County'),
         ('Michigan', 'Wayne County')] ]

# Missing values

In [ ]:
df = pd.read_csv('log.csv')
df

In [ ]:
df.fillna?

In [ ]:
df = df.set_index('time')
df = df.sort_index()
df

In [ ]:
df = df.reset_index()
df = df.set_index(['time', 'user'])
df

In [ ]:
df = df.fillna(method='ffill')
df.head()